h1 {
    color: red; 
}
/* body {
    font-size: 14px;
    padding: 15px 20px;
} */
.password {
    width: 300px;
    /* margin: 15px auto; */
    position: relative;
}
#password-input {
    width: 100%;
    padding: 5px 0;
    height: 30px;
    line-height: 40px;
    text-indent: 10px;
    margin: 0 0 15px 0;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 18px;
}
.password-control {
    position: absolute;
    top: 11px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

.lvl-button {
    color:  black;
    width: 60px;
    height: 60px;
    margin: 6px; 
}
.passed-lvl{
    background-color: lightgreen;
}

.current-lvl{
    background-color: rgb(230, 123, 102);
}

.blocked-lvl{
    background-color: lightgrey;
}

.body-lvl {
    background-image: url('https://s-cdn.sportbox.ru/images/styles/1920_1080/fp_fotos/3c/a3/0d53a9caf26273560a4db92f419146bf5d24a8858c4d7699409631.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

.container-levels {
     display: flex; 
    justify-content: center;
    
}
#game {
    border: 3px solid black;
    height: 600px;
    width: 1200px;
}

.game-object{    
    width: 50px;
    height: 50px; 
}

/* #image1 {
    position: absolute;
    left: 0px;
    bottom:0px;
    
}

#image2 {
    position: absolute;
    right: 0px;
    top:0px;
    width: 50px;
    height: 50px; 
}  */


#hero {
    position: absolute;
    top: 50px;
    left: 150px;
}