<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lvl {{context.lvl}}</title>    
    <link type="text/css" href="{{ url_for('static', filename='css/level.css')}}" rel="stylesheet">
</head>
<body>
    
    <table id="game-table">
    </table>
    

    
    <img id="hero" class="game-object" src="{{ url_for('static', filename='images/hero1.png')}}">
    <!-- <img id="hero" class="game-object" src="{{ url_for('static', filename='images/hero2.jpg')}}">
    <img id="hero" class="game-object" src="{{ url_for('static', filename='images/hero3.jpg')}}"> -->

    <!--
        w -- wall
        s -- spikes
        b -- стартовая точка
        d -- door
        c -- coin
        0 -- ничего
        p - platform
    -->

    <div id="winWindow" class="window">
        <p>Вы победили!</p>
        <a href="\question?lvl={{context.lvl|int() + 1}}">
            <button id="nextLevel">Закончить уровень</button>
        </a>

        <a href= "\level">
            <button id="listLevel"> Список уровней</button>
        </a>        
    </div>

    <div id="loseWindow" class="window">
        <p>Вы проиграли!</p>
        <a href="\level?lvl={{context.lvl}}">
            <button id="nextLevel">Начать заново</button>
        </a>  
    </div>

    <script>        
        let gameObjects = {
            w: `<img id="image4"  class="game-object" src="{{ url_for('static', filename='images/wall.jpg')}}">`,
            s: `<img id="image3"  class="game-object" src="{{ url_for('static', filename='images/spikes.png')}}">`,
            d: `<img id="image2"  class="game-object" src="{{ url_for('static', filename='images/door.png')}}">`,
            c: `<img id="image1" class="game-object" src="{{ url_for('static', filename='images/coin.png')}}">`,
            p: `<img id="image5" class="game-object" src="{{ url_for('static', filename='images/platform.png')}}">`,

            b: `<img id="image5" class="game-object" src="{{ url_for('static', filename='images/kvadrat.png')}}">`,
            0: `<img id="image5" class="game-object" src="{{ url_for('static', filename='images/kvadrat.png')}}">`
        };
        let mat = [        
            {% for row in context.mat %}
                "{{ row }}".split(''), 
            {% endfor %}
        ];
        
        
        const gameTable = document.getElementById('game-table');
        
        let countCoin = 0;
        let content = '';
        let heroX = 0;
        let heroY = 0;
        let jumpState = false;
        for (let i = 0; i < mat.length; i++) {
            content += "<tr>";
            for (let j = 0; j < mat[i].length; j++){
                if ( mat[i][j] == 'b'){
                    heroX = j * 50;
                    heroY = i * 50;
                }
                else if ( mat[i][j] == 'd'){
                    doorI = i;
                    doorJ = j;
                    mat[i][j] = '0';
                }
                else if ( mat[i][j] == 'c'){
                    countCoin++;   //  countCoin += 1;
                }
                content += `<td id='${i}_${j}'> ${gameObjects[mat[i][j]]} </td>`;
                if ( mat[i][j] == 'p'){
                    mat[i][j] = 'w';
                }
            }
            
            content += "</tr>"; 
        } 

        console.log('countCoin: ', countCoin);
        gameTable.innerHTML += content;
        const hero = document.getElementById('hero');

        hero.style.left = `${heroX}px`;
        hero.style.top = `${heroY}px`;

        speedX = 15;
        speedY = 0;
        side = 50;
        isGameOn = true;
        function checkCollision(){
            /* heroX heroY mat[][]*/
            let posUpSide = parseInt(heroY / side);            
            let posDownSide = posUpSide + 1;
            let posLeftSide = parseInt(heroX / side);
            let posRightSide = posLeftSide + 1;

            //Проверка если мы в двери
            let checkDoor = (
                mat[posUpSide][posLeftSide] == 'd' || 
                mat[posDownSide][posLeftSide] == 'd' || 
                mat[posUpSide][posRightSide] == 'd' ||
                mat[posDownSide][posRightSide] == 'd' 
            );

            if(checkDoor && isGameOn){  //  уровень пройден
                if ('{{context.is_max_available_lvl}}' == 'True'){
                    data_dict = {
                        'update_count_level': true
                    }
                    fetch('/', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(data_dict)
                    });
                }
                isGameOn = false;
                speedX = 0;
                speedY = 0; 
                hero.style.left = `${doorJ * side}px`; // не работает перенос на дверь!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                hero.style.top = `${doorI * side}px`;
                document.getElementById('winWindow').style.visibility = 'visible';
                /*document.body.style.filter = 'blur(4px)';
                document.getElementById('winWindow').content.style.removeProperty('filter'); */
        
            }



            //Обновление страницы js при нажатии на пики
            let uslovie = (
                mat[posUpSide][posLeftSide] == 's' || 
                mat[posDownSide][posLeftSide] == 's' || 
                mat[posUpSide][posRightSide] == 's' ||
                mat[posDownSide][posRightSide] == 's' 
            );

            if(uslovie && isGameOn){ 
                isGameOn = false;
                document.getElementById('loseWindow').style.visibility = 'visible';
                speedX = 0;
                speedY = 0;            
            }
            /// сбор монеток
            if(mat[posUpSide][posLeftSide] == 'c'){ 
                document.getElementById(`${posUpSide}_${posLeftSide}`).innerHTML = gameObjects[0];
                countCoin--; 
                mat[posUpSide][posLeftSide] = '0';
                console.log('countCoin: ', countCoin);
            }
            
            
            if(mat[posUpSide][posRightSide] == 'c'){ 
                document.getElementById(`${posUpSide}_${posRightSide}`).innerHTML = gameObjects[0];
                countCoin--; 
                mat[posUpSide][posRightSide] = '0';
                console.log('countCoin: ', countCoin);
            }

            // Проверка кол-ва монет
            if (countCoin == 0){
                document.getElementById(`${doorI}_${doorJ}`).innerHTML = gameObjects['d'];
                mat[doorI][doorJ] = 'd';
            }

            // конец сбора монеток
            if (speedY < 0 && mat[posUpSide][posLeftSide] == 'w' && mat[posUpSide][posRightSide] == 'w' ){
                speedY = 5;
                heroY = posDownSide * side;
            }
            else if (mat[posUpSide][posLeftSide] == 'w' || mat[posUpSide][posRightSide] == 'w'){
                if (speedX > 0){
                    heroX = posLeftSide * side;
                }
                else{
                    heroX = posRightSide * side;
                }
                speedX = speedX * -1;  

                if (speedY < 0){
                    speedY = -50;
                }
                              
            }
            else if (mat[posDownSide][posLeftSide] == 'w' || mat[posDownSide][posRightSide] == 'w'){
                heroY = posUpSide * side;
                speedY = 0;
                jumpState = false;
            }
            
        }

        function sign(x) {
            if (x > 0)
                return 1;
            else if (x == 0) 
                return 0; 
            else
                return -1; 
        }

        function move() {
            heroX += speedX;
            heroY += speedY; 
            speedY += 5;

            checkCollision();
            //if (heroX > 900 ||  heroX < 50){
                //speedX = speedX * -1;
                hero.style.transform = `scaleX(${sign(speedX)})`;
            //}//

           // else{
                hero.style.left = `${heroX}px`;
                hero.style.top = `${heroY}px`;
            //};
        }
        function jump(event) {
            if (event.keyCode == '32' && (speedY == 0 || speedY == 5) && jumpState == false) {
                console.log('Прыжок!!!');
                speedY = -50;
                jumpState = true;
            }
        }
        document.addEventListener('keydown', jump);
        
        let timerId = setInterval(move, 200);
    </script>
        
</body>
</html>