<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lvl {{context.lvl}}</title>    
    <link type="text/css" href="{{ url_for('static', filename='css/level.css')}}" rel="stylesheet">
</head>
<body>
    
    <table id="game-table">
    </table>
    

    
    <img id="hero" class="game-object" src="{{ url_for('static', filename='images/hero1.png')}}">
    <!-- <img id="hero" class="game-object" src="{{ url_for('static', filename='images/hero2.jpg')}}">
    <img id="hero" class="game-object" src="{{ url_for('static', filename='images/hero3.jpg')}}"> -->

    <!--
        w -- wall
        s -- spikes
        b -- стартовая точка
        d -- door
        c -- coin
        0 -- ничего
        p - platform
    -->


    <script> 
        
        let gameObjects = {
            w: `<img id="image4"  class="game-object" src="{{ url_for('static', filename='images/wall.jpg')}}">`,
            s: `<img id="image3"  class="game-object" src="{{ url_for('static', filename='images/spikes.png')}}">`,
            d: `<img id="image2"  class="game-object" src="{{ url_for('static', filename='images/door.png')}}">`,
            c: `<img id="image1" class="game-object" src="{{ url_for('static', filename='images/coin.png')}}">`,
            p: `<img id="image5" class="game-object" src="{{ url_for('static', filename='images/platform.png')}}">`,

            b: `<img id="image5" class="game-object" src="{{ url_for('static', filename='images/kvadrat.png')}}">`,
            0: `<img id="image5" class="game-object" src="{{ url_for('static', filename='images/kvadrat.png')}}">`
        };
        let mat = [        
            {% for row in context.mat %}
                "{{ row }}", 
            {% endfor %}
        ];
        
        
        const gameTable = document.getElementById('game-table');
        
        let countCoin = 0;
        let content = '';
        let heroX = 0;
        let heroY = 0;
        let jumpState = false;
        for (let i = 0; i < mat.length; i++) {
            content += "<tr>";
            for (let j = 0; j < mat[i].length; j++){
                content += `<td id='${i}_${j}'> ${gameObjects[mat[i][j]]} </td>`;
                if ( mat[i][j] == 'b'){
                    heroX = j * 50;
                    heroY = i * 50;
                }
                else if ( mat[i][j] == 'c'){
                    countCoin++;   //  countCoin += 1;
                }
            }
            
            content += "</tr>"; 
        } 

        console.log('countCoin: ', countCoin);
        gameTable.innerHTML += content;
        const hero = document.getElementById('hero');

        hero.style.left = `${heroX}px`;
        hero.style.top = `${heroY}px`;

        speedX = 15;
        speedY = 0;
        side = 50;
        function checkCollision(){
            /* heroX heroY mat[][]*/
            let posUpSide = parseInt(heroY / side);            
            let posDownSide = posUpSide + 1;
            let posLeftSide = parseInt(heroX / side);
            let posRightSide = posLeftSide + 1;
            /// сбор монеток
            if(mat[posUpSide][posLeftSide] == 'c'){ 
                document.getElementById(`${posUpSide}_${posLeftSide}`).innerHTML = gameObjects[0];
                countCoin--; 
                mat[posUpSide][posLeftSide] = '0';
                console.log('countCoin: ', countCoin);
            }
            
            
            if(mat[posUpSide][posRightSide] == 'c'){ 
                document.getElementById(`${posUpSide}_${posRightSide}`).innerHTML = gameObjects[0];
                countCoin--; 
                mat[posUpSide][posRightSide] = '0';
                console.log('countCoin: ', countCoin);
            }
            // конец сбора монеток
            if (speedY < 0 && mat[posUpSide][posLeftSide] == 'w' && mat[posUpSide][posRightSide] == 'w' ){
                speedY = 5;
                heroY += 6;
            }
            else if (mat[posUpSide][posLeftSide] == 'w' || mat[posUpSide][posRightSide] == 'w'){
                speedX = speedX * -1;  
                if (speedY < 0){
                    speedY = -50;
                }
                              
            }
            else if (mat[posDownSide][posLeftSide] == 'w' || mat[posDownSide][posRightSide] == 'w'){
                heroY = posUpSide * side;
                speedY = 0;
                jumpState = false;
            }
            
        }

        function sign(x) {
            if (x > 0)
                return 1;
            else if (x == 0) 
                return 0; 
            else
                return -1; 
        }

        function move() {
            heroX += speedX;
            heroY += speedY; 
            speedY += 5;

            checkCollision();
            //if (heroX > 900 ||  heroX < 50){
                //speedX = speedX * -1;
                hero.style.transform = `scaleX(${sign(speedX)})`;
            //}//

           // else{
                hero.style.left = `${heroX}px`;
                hero.style.top = `${heroY}px`;
            //};
        }
        function jump(event) {
            if (event.keyCode == '32' && (speedY == 0 || speedY == 5) && jumpState == false) {
                console.log('Прыжок!!!');
                speedY = -50;
                jumpState = true;
            }
        }
        document.addEventListener('keydown', jump);
        
        let timerId = setInterval(move, 200);
    </script>
        
</body>
</html>