<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levels</title>    
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
</head>
<body class="body-lvl">
    <div class="container-levels">
        <button class="lvl-button passed-lvl"> Level 1 </button>
        <button class="lvl-button passed-lvl"> Level 2 </button>
        <button class="lvl-button current-lvl"> Level 3 </button>
        <button class="lvl-button blocked-lvl"> Level 4 </button>
        <button class="lvl-button blocked-lvl"> Level 5 </button>
        <button class="lvl-button blocked-lvl"> Level 6 </button>
    </div>
</body>
</html>