<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title> 
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
</head>
<body>
    <p>{{context.question}}</p>
 
    <input type="text" id="answer">
    <br><br>
    <button id="check_answer" onclick="check_answer()">Проверить ответ</button>
    <p id="message"></p>
    <a style='visibility: hidden;' id="button_nextLevel" href="\level?lvl={{context.lvl|int() + 1}}">
        <button  id="nextLevel">Следующий уровень {{context.lvl|int() + 1}}</button>
    </a>

<script>
function check_answer(){
    user_answer = document.getElementById('answer').value;
    correct_answer = '{{context.answer}}';
    console.log(user_answer, correct_answer); 
    if (correct_answer == user_answer){
        document.getElementById('button_nextLevel').style.visibility='visible';
        document.getElementById('message').innerHTML="Ответ правильный";
    }
    else {
        document.getElementById('message').innerHTML="Ответ неправильный";
    }


}
</script>
</body>
</html>